TELEGRAM_BOT_TOKEN=put_your_telegram_bot_token_here
ALIEXPRESS_APP_KEY=535232
ALIEXPRESS_APP_SECRET=put_your_aliexpress_app_secret_here
ALIEXPRESS_TRACKING_ID=telegram_bot
DEFAULT_CURRENCY=USD
DEFAULT_LANGUAGE=EN
PRODUCTS_COUNT=5